h1{
	font-family: 'Macondo', cursive;
	font-size:50px;
	text-align: center;
	color: Yellow;
	}
	
#PT{
	width:98%;
	margin:0 auto; 
	text-align:right; 
	border-collapse:collapse;
		  }
		  
th, td{
		padding:5px 10px;
}

#category{
	      background:#ABC668;
		  color:#fff;
		  text-align: center;
		  border-right:1px solid #fff;
		  font-family: 'Macondo', cursive;
		  font-size:40px;
}

#odd{
	background:#f9f9f9;
	text-align:center;
    width:12%;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
}

#even{
	  text-align:center;
      width:12%;
	  font-family: 'Raleway', sans-serif;
	  font-size:20px;
	  background-color:white;	
}

#att{
	background:#f2f2f2;
	font-family: 'Raleway', sans-serif;
	font-size:20px;

}

#odd:hover{
	       background:#F3F5BB;
}

#att:hover{
			background:#F3F5BB;
}

#even:hover{
	        background:#F3F5BB;
}			

img{
		width:100px;
		height:100px;
}	

body{
	  background:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRHAkDXxW8nz6aoufrRX98nY9a3Fc_ZmC0an-Jgjpve28qP_f2pEg');
}